// VARIABLES

$full: 100%;
$center: 0 auto;
$max-width: 600px;

// COLORS
$primary-dark: #151818;
$primary-mid: #283535;
$primary-light: #005D5D;

$highligh-dark: #006464;
$highlight-mid: #007272;
$highlight-light: #008484;
