// GLOBAL STYLES

body {
    @include fullHeightWidth;
    background-color: $primary-dark;
    color: $highlight-light;
    margin: 0;
    font-size: 24px; 
}

.calc-wrap {
    max-width: $max-width;
    margin: $center;
    width: $full;
}
