<div class="main-calculator-container">
    <div class="value-container">
        <span class="screen-value"></span>
    </div>
    <div class="number-buttons-container">
        <!-- repeat buttons -->
        <div class="button-container" ng-repeat="buttonValue in keypad">
            <button class="btn btn-val" ng-click="">{{buttonValue}}</button>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-container">
            <button class="btn btn-operation" ng-click="">&#43;</button>
        </div>
        <div class="button-container">
            <button class="btn btn-operation" ng-click="">&minus;</button>
        </div>
        <div class="button-container">
            <button class="btn btn-operation" ng-click="">x</button>
        </div>
        <div class="button-container">
            <button class="btn btn-operation" ng-click="">&#8725;</button>
        </div>
    </div>
    <div class="evaluation-container">
        <div class="button-container clear">
            <button class="btn btn-clear" ng-click="">CLEAR</button>
        </div>
        <div class="button-container evaluate">
            <button class="btn btn-eval" ng-click="equals()">&#61;</button>
        </div>
    </div>
</div>
