<div class="main-calculator-container">
    <div class="value-container">
        <span class="screen-value">{{baseValue || valueString}}</span>
    </div>
    <div class="number-buttons-container">
        <!-- repeat buttons -->
        <div class="button-container" ng-repeat="buttonValue in keypad">
            <button class="btn btn-val" ng-click="addValueToString(buttonValue)">{{buttonValue}}</button>
        </div>
    </div>
    <div class="operations-container">
        <div class="button-container">
            <button class="btn btn-operation" ng-click="setVal(valueString, 'add')">&#43;</button>
        </div>
        <div class="button-container">
            <button class="btn btn-operation" ng-click="setVal(valueString, 'subtract')">&minus;</button>
        </div>
        <div class="button-container">
            <button class="btn btn-operation" ng-click="setVal(valueString, 'multiply')">x</button>
        </div>
        <div class="button-container">
            <button class="btn btn-operation" ng-click="setVal(valueString, 'divide')">&#8725;</button>
        </div>
    </div>
    <div class="evaluation-container">
        <div class="button-container clear">
            <button class="btn btn-clear" ng-click="clearBaseValue()">CLEAR</button>
        </div>
        <div class="button-container evaluate">
            <button class="btn btn-eval" ng-click="equals()">&#61;</button>
        </div>
    </div>
</div>
